
body{ background:#F5EFEB;}
nav ul {
  font-size: 15px ;
  background: #D7E9EF;
  padding: 20px;
  display: flex;
  flex-direction:row ;
  justify-content: space-between;
  align-items: center;
  flex-wrap:wrap;
 
}
nav ul li {
 color: #D7E9EF ;
 background-color:#F4C6D5 ;
  padding: 50px 50px 50px 50px;
  margin: auto;
}


h1{color:#F6648E ; font-size: 50px; text-align: center ; font-style: oblique; }
h2{color: #3681AB ; font-size: 25px; text-align:left ; font-style: oblique; 
padding: 10px 15px 15px 15px; ;}
#welcome { color:#fc7317;font-size: 30px;text-align: center; font-style:inherit ; 
  border: 6px;
  margin: auto; 
  padding: 2px 15px 15px 15px; }
 

  ul li{
  
    display:inline;
  }
  li{
    margin-inline-start: 16px;
  }
  
#weekdays{
  color:#cd4662;
   font-size: 20px;
    font-style:inherit ; 
   border: 3px;
   margin:auto
  
  }


#resources{color:#cd4662; font-size: 20px; font-style:inherit ; 
  border: 3px;
  margin:auto}
#teacher{color:#cd4662; font-size: 20px; font-style:inherit ; 
    border: 3px;
    margin:auto}

.gallery {
    margin:auto;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
    /* padding: 20px; */
  }
  .gallery img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.3s;
  }

  .gallery img:hover {
    /* transform: scale(1.1); */
    width: 100%;
  }
  @media (max-width: 768px) {
    .gallery {
      flex-direction: column;
      align-items: center;
    }

    .gallery img {
      width: 100%;
    }
   
  }