
body{ background:#F5EFEB; }

.own{
   background:#F2D7D7;
   box-shadow: 0px 0px 0px #ccc;
   margin: 0;
   padding:2rem 0;
   border-radius: var(--radius);
   display:flex;
   gap: 20px;
   flex-wrap: wrap;

   
  
  }
  .item{
    list-style: none;
    margin-inline: 4rem;
    background-color:#FBE8DA ;
    padding: 20px 20px 20px 20px;
    border: dashed 2px #D58718;
    margin: auto;
  
  }

  .item a{
    text-decoration: none;
    color: #cd104d;
    font-size: 20px;
    font-family: montserrat , sana-serif;
    text-align: center;
    cursor: pointer;
    transition:all 200ms ease-in;


  }

  .item a:hover{
  color: #577371;
  }

  table{
    width:100% ;
    border-spacing: 2px;
  }
  th{
    background:#EFD6D5 ;
    height: 40px;
    border: dotted 2px #BCA446 ;
  }
  td{
    background: #FDECDF ;
    height:40px;
    text-align: center;
    border: solid 2px #E6B079 ;
  }

  h1{
  color:#3681AB ; 
  font-size: 50px;
  text-align: center ;
  font-style: oblique;
  border: 5px;
  padding: 3px;
  }

h2{
  color: #3681AB ; 
  font-size: 25px;
  text-align:center ;
  font-style: oblique; 
  background-color:#FBE8DA ;
  padding: 10px 15px 15px 15px; ;
  border: dashed 2px #D58718;
  display: inline-block;

}

#welcome { 
  color:#cd4662;
  font-size: 30px;
  text-align: center;
   font-style:inherit ; 
  border: 6px;
  margin: auto; 
  padding: 2px 15px 15px 15px; }
 
  
#weekdays , #resources , #teacher , #schedule , #gallery{
   color:#cd4662;
   font-size: 20px;
   font-style:inherit ; 
   border: 3px;
   margin:auto;
   text-align: center;
  
  }



.gallery {
    margin:auto;
    width: 40%;
    height: 40%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    /* gap: 10px; */
    /* padding: 20px; */
  }
  .gallery img {
    width: 70%;
    height: 70%;
    object-fit: cover;
    border-radius: 10px;
    border: 2px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out 0.3s;
  }

  .gallery img:hover {
    /* transform: scale(1.1); */
    width: 100%;
  }
  @media (max-width: 768px) {
    .gallery {
      flex-direction: row;
      align-items: center;
    }

    .gallery img {
      width: 100%;
    }

  }